body {
  margin: 0;
  font-family: "Arial", sans-serif;
  /* background: url("assets/background-stars.jpg") no-repeat center center fixed; */
  background-color: rgb(17, 11, 25);
  background-size: cover;
  transition: background-image 0.5s ease; /* Add a smooth transition effect */
}

header {
  background-color: rgb(27, 24, 38);
  color: #ffffff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px); /* Add a blurry effect */
  z-index: 10;
  /* margin-bottom: 10px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 12%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
  margin-left: 20px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  margin-right: 50px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6em; /* Adjust the font size as needed */
  font-weight: bold;
}

/* Style for navigation links on hover */
.nav-list a:hover {
  text-decoration: underline;
}

/* Style for the yellow box in the Subscription link */
.subscribe {
  background-color: rgba(255, 0, 21, 0.5); /* 50% opacity */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 5px; /* Optional: add rounded corners */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Gunakan min-height agar container selalu mencakup tinggi layar, bahkan ketika konten tidak sebanyak 100vh */
}

/* Card */
.card {
  display: flex; /* Make the card body a flex container */
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  background-color: #2c2e3f; /* Fallback color */
  max-width: 1400px;
  margin: 0 auto;
  backdrop-filter: blur(5px); /* Blurry effect */
  color: white; /* Set font color to white */
  margin-top: 40px;
}

.card-header {
  flex: 1; /* Allow the header to grow as needed */
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  display: flex; /* Enable flexbox for the card body */
  flex: 1; /* Allow the body to grow as needed */
  flex-grow: 1; /* Allow content to grow and fill available space */
  /* padding: 1.25rem; */
}

.card-description {
  width: 50%; /* Set width for description container */
  padding: 20px; /* Add padding for spacing */
}

.card-title {
  font-size: 2rem; /* Increase the title font size */
  font-weight: bold; /* Make the title bold */
  margin-top: 20px;
}

.card-text {
  font-size: 1.2rem; /* Increase the text font size */
  line-height: 1.6; /* Adjust line height for better readability */
  margin-bottom: 1.5rem; /* Adjust margin bottom */
}

.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #c3c3c3;
  border-radius: 0.25rem;
  background-color: #c9d5e1; /* Light background color */
  color: #000; /* Black text color */
  margin-top: 50px;
}

.download .btn {
  margin-left: auto; /* Push the button to the right */
  border-radius: 0.75rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: rgb(174, 28, 40);
  border-color: rgb(174, 28, 40);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(114, 17, 25);
  border-color: rgb(114, 17, 25);
}

.requirements {
  flex: 1; /* Make requirements sections take up equal space */
  padding: 15px;
}

.requirements-title {
  font-size: 1.5rem; /* Increase the title font size */
  font-weight: bold; /* Make the title bold */
  margin-bottom: 1rem; /* Adjust margin bottom */
}

.requirements-list {
  margin-bottom: 5px;
}

.requirements-list li {
  line-height: 1.5;
}

/* Product Page - Carousel */
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; Gunakan min-height agar container selalu mencakup tinggi layar, bahkan ketika konten tidak sebanyak 100vh */
}
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-header {
  flex: 1; /* Allow the header to grow as needed */
  text-align: center;
  display: flex; /* Add display flex */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.carousel-title {
  font-size: 2rem; /* Increase the title font size */
  font-weight: bold; /* Make the title bold */
  margin-top: 20px;
  color: white;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/* Event */
.image-container {
  flex: 0 0 50%; 
  max-width: 50%;
  overflow: hidden; 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

/* Details container */
.details-container-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px; /* Space above the details */
}

.event-date,
.read-time {
  font-size: 0.875rem;
  color: #ccc; /* Muted color for the details */
}

.hidden {
  display: none;
}

.see-more-btn {
  display: block;
  margin-top: 5px;
  margin-bottom: 40px;
  background-color: rgb(174, 28, 40);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.see-more-btn:hover {
  background-color: rgb(174, 28, 40);
}



/* Footer */
footer {
  background-color: rgb(27, 24, 38);
  padding: 20px 0;
  text-align: center;
  margin-top: 100px; /* Tambahkan margin top agar tidak menempel dengan card */
}

.container-footer {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

footer p {
  margin: 0;
  color: #6c757d;
}
